.site-header {
  background: transparent;
}


/* domains tabs start */
.post-54,
.post-40 {
  margin-top: -110px;

  .tabs-header-item p {
    white-space: nowrap;
  }

  @media screen and (width <= 1240px) {
    .tabs-scroll {
      display: flex;
    }
  }
}

/* domains tabs end */


