/* main hero start */
.main-hero {
  min-height: 640px;
  text-align: center;
  background: url("../images/main-page/hero/main-bg.png") center / cover no-repeat, linear-gradient(0deg, rgb(250 250 250 / 0%) 0%, #FAFAFA 100%), #E1E1E17F;
}

.main-hero__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block: clamp(159px, calc(9.51rem + 2.16vw), 178px);
}

.main-hero-img-man {
  position: absolute;
  right: -54px;
  bottom: -20px;
  width: 329px;
  height: 491px;

  @media screen and (width <= 1380px) {
    right: -13px;
  }

  @media screen and (width <= 1290px) {
    display: none;
  }
}

.main-hero-img-decor {
  position: absolute;
  top: 0;
  left: -100px;
  width: clamp(120px, calc(1.16rem + 25.37vw), 323px);
  height: clamp(112px, calc(1.13rem + 23.5vw), 300px);
  filter: blur(12px);

  @media screen and (width <= 1290px) {
    left: 0;
    filter: blur(5px);
  }
}

.main-hero-img-decor-red {
  position: absolute;
  right: 30px;
  bottom: 20px;
  display: none;
  width: 142px;
  height: 104px;
  filter: blur(5px);

  @media screen and (width <= 1290px) {
    display: inline-block;
  }
}

.main-hero-title {
  max-width: 640px;
  font-size: clamp(32px, calc(1.27rem + 3.64vw), 64px);
  font-style: normal;
  font-weight: 500;
  line-height: 100%;

  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.main-hero-text {
  max-width: 640px;

  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.main-hero-form {
  position: relative;
  width: 100%;
  max-width: 640px;
}

.main-hero-input {
  width: 100%;
  height: 56px;
  padding: 6px 80px 6px 24px;
  font-family: Inter, serif;
  background: #fff;
  border: 1px solid #e1e1e1;
  border-radius: 12px;
  outline: none;
  transition-duration: 0.3s;

  &::placeholder {
    font-weight: 500;
    line-height: normal;
    color: #898989;
  }

  &:focus {
    border: 1px solid #4ca941;
  }
}

.main-hero-button {
  position: absolute;
  top: 50%;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  padding: 10px 8px;
  color: var(--white-color);
  background-color: #4ca941;
  border-radius: 6px;
  transition-duration: 0.3s;
  transform: translateY(-50%);

  &:hover {
    background-color: #41e42e;
  }

  &:active {
    background-color: #b2dead;
  }
}

/* main hero end */

/* services start */
.main-services {
  padding-block: 32px;
  color: var(--white-color);
  background-color: var(--main-color);
}

.main-services-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  align-items: center;
  justify-content: space-between;

  @media screen and (width <= 520px) {
    flex-direction: column;
    row-gap: 16px;
  }
}

.main-services-item {
  position: relative;
  flex: 1 1 auto;
  text-align: center;
  transition-duration: 0.3s;

  &:hover {
    color: var(--light-grey-color);
  }

  @media screen and (width <= 520px) {
    width: 100%;
  }
}

.main-services-item:not(:last-child)::after {
  position: absolute;
  top: 50%;
  right: 0;
  display: block;
  width: 1px;
  height: 100%;
  content: "";
  background-color: var(--white-color);
  transform: translateY(-50%);

  @media screen and (width <= 520px) {
    top: initial;
    bottom: -8px;
    width: 100%;
    height: 1px;
  }
}

.main-services-link {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3;
}

/* services end */

/* advantages start */
.main-advantages {
  padding-block: clamp(32px, calc(1rem + 4vw), 64px);
}

.main-advantages-list {
  display: flex;
  flex-wrap: wrap;

  @media screen and (width <= 768px) {
    flex-direction: column;
  }
}

.main-advantages-item {
  display: flex;
  flex: 1 0 50%;
  flex-direction: column;

  @media screen and (width <= 768px) {
    &:not(:last-child) {
      border-bottom: 1px solid var(--grey-color);
    }
  }
}

.main-advantages-item:nth-child(1),
.main-advantages-item:nth-child(2) {
  border-bottom: 1px solid var(--grey-color);
}

.main-advantages-item:nth-child(odd) {
  padding: 32px 32px 32px 0;
  border-right: 1px solid var(--grey-color);

  @media screen and (width <= 768px) {
    padding: 18px 32px;
    border-right: initial;
  }
}

.main-advantages-item:nth-child(even) {
  padding: 32px 0 32px 32px;

  @media screen and (width <= 768px) {
    padding: 18px 32px;
  }
}

.main-advantages-image {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.main-advantages-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3;

  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

/* advantages end */

/* about us start */
.main-about-us {
  background: linear-gradient(180deg, rgb(255 255 255 / 0%) 70%, #fff 100%),
  url("../images/main-page/about/bg-image.png") top center / contain no-repeat,
  #fafafa;

  @media screen and (width <= 640px) {
    padding-top: 142px;
    background: linear-gradient(180deg, rgb(255 255 255 / 0%) 70%, #fff 100%),
    url("../images/main-page/about/bg-image.png") top -10px center / 100% no-repeat,
    #fafafa;
  }
}

.main-about-us-content {
  width: 50%;
  max-width: 568px;
  padding-block: clamp(32px, calc(1rem + 4vw), 64px);
  padding-inline: clamp(18px, calc(-0.31rem + 5.75vw), 64px);
  background: var(--white-color);
  border: 1px solid var(--light-grey-color);
  border-radius: 12px;
  box-shadow: 0 10px 25px 0 rgb(212 212 212 / 25%);

  &:not(:last-child) {
    margin-bottom: 37px;
  }

  @media screen and (width <= 640px) {
    width: 100%;
  }
}

.main-about-us-content-title {
  font-size: clamp(32px, calc(1.5rem + 2vw), 48px);
  font-weight: 500;
  line-height: 1.05;

  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.main-about-us-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 32px;
  padding-block: clamp(32px, calc(1rem + 4vw), 64px);
  padding-inline: clamp(18px, calc(-0.31rem + 5.75vw), 64px);
  background: var(--white-color);
  border: 1px solid var(--light-grey-color);
  border-radius: 12px;
  box-shadow: 0 10px 25px 0 rgb(212 212 212 / 25%);

  @media screen and (width <= 640px) {
    flex-direction: column;
  }
}

.main-about-us-item {
  flex: 0 0 50%;

  @media screen and (width <= 640px) {
    &:not(:last-child) {
      padding-bottom: 32px;
      border-bottom: 1px solid var(--light-grey-color);
    }
  }

  &:nth-child(odd) {
    padding-right: 32px;

    @media screen and (width <= 640px) {
      padding-right: initial;
    }
  }

  &:nth-child(even) {
    padding-left: 32px;

    @media screen and (width <= 640px) {
      padding-left: initial;
    }
  }

  &:nth-child(odd):not(:last-child) {
    border-right: 1px solid var(--light-grey-color);

    @media screen and (width <= 640px) {
      border-right: none;
    }
  }
}

.main-about-us-image {
  width: 64px;
  height: 64px;

  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.main-about-us-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3;

  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.main-about-us-text {
  line-height: 1.6;
}

/* about us end */

/* philosophy start */
.main-philosophy {
  padding-block: clamp(32px, calc(0.13rem + 7.5vw), 92px);
  background-color: #fafafa;
}

.main-philosophy__container {
  position: relative;
}

.main-philosophy-title {
  font-size: clamp(32px, calc(1.5rem + 2vw), 48px);
  font-weight: 500;
  line-height: 1.05;
}

.main-philosophy-subtitle {
  font-size: clamp(32px, calc(1.5rem + 2vw), 48px);
  font-weight: 500;
  line-height: 1.05;
  color: var(--main-color);

  &:not(:last-child) {
    margin-bottom: 32px;
  }

  @media screen and (width <= 520px) {
    font-size: 28px;
  }
}

.main-philosophy-content {
  width: 50%;
  margin-left: auto;

  @media screen and (width <= 768px) {
    width: 100%;
    margin-left: initial;
  }
}

.main-philosophy-text {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.main-philosophy-button {
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: var(--white-color);
  background-color: var(--main-color);
  border-radius: 6px;
  transition-duration: 0.3s;

  @media screen and (width <= 520px) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  &:hover {
    background-color: var(--main-color-hover);
  }
}

.main-philosophy-image {
  position: absolute;
  bottom: -36%;
  left: 0;
  width: 323px;
  height: 220px;
  scale: 0;

  @media screen and (width <= 1150px) {
    bottom: -27%;
  }

  @media screen and (width <= 860px) {
    bottom: -22%;
  }

  @media screen and (width <= 768px) {
    display: none;
  }
}

/* philosophy end */