.post h2 {
  font-size: var(--fluid-24-48);
  font-style: normal;
  font-weight: 500;
  line-height: 105%;

  &:not(:last-child) {
    margin-bottom: 32px;
  }

  &:not(:first-child) {
    margin-top: 32px;
  }
}

.post h3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;

  &:not(:last-child) {
    margin-bottom: 32px;
  }

  &:not(:first-child) {
    margin-top: 32px;
  }
}

.post p {
  a {
    color: var(--main-color);
  }

  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.post ul li {
  list-style: initial;
}

.post ol li {
  list-style: decimal;
}

.post img {
  display: block;
  max-width: 794px;
  height: auto;
  margin-inline: auto;
  border-radius: 12px;

  &:not(:last-child) {
    margin-bottom: 32px;
  }

  &:not(:first-child) {
    margin-top: 32px;
  }
}