.tariffs {
  padding-top: var(--fluid-64-92);
  padding-bottom: clamp(96px, 86px + 2.5vw, 116px);
  background: url("../images/bg tariffs-v-server.png") top center / cover
    no-repeat;
}

.tariffs-subtitle {
  &:not(:last-child) {
    margin-bottom: clamp(78px, 48px + 7.5vw, 138px);
  }
}

.tariffs-item {
  display: flex;
  flex-direction: column;
}

.tariffs-text {
  flex: 1 1 auto;
}

.first-section-philosophy {
  background: #fafafa;

  .philosophy-image {
    bottom: -33%;
    max-width: 323px;
    aspect-ratio: 323 / 303;
  }
}

.second-section-philosophy {
  padding-bottom: initial;
  color: var(--white-color);
  background-color: var(--main-color);

  .philosophy-image {
    bottom: 64px;
  }
}

.accordion-section {
  padding-top: 32px;
  margin-top: -1px;
}

.tabs-table-text {
  margin-top: var(--padding-92-32);
  color: var(--grey-color);

  @media screen and (width <= 768px) {
    display: none;
  }
}

.tabs-table-text p {
  &:not(:last-child) {
    margin-bottom: var(--padding-92-32);
  }
}
